# NLP Basic Giriş Çalışması

##**Metin Ön İşleme (Text Pre-processing)**

Kitap isimlerinin olduğu bir context:

In [90]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

Analiz edilebilmesi için context'in parçalara ayrılması gerekli. Bölme işlemi "metin.split()" metoduyla yapılır. İçerisine "/n" gönderildi. "/n" sinyal olarak kullanılacak:

In [91]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

Bölünen metnin v_metin isminde yeni bir değişkene atanması:

In [92]:
v_metin = metin.split("\n")

Vektörleştirme işlemi yapılacak. Bunun için pandas kütüphanesi pd olarak import edildi. "pd.Series()" içerisine parametre olarak bölünen metin gönderildi. Bu metod metni numara ile vektörel hale getirecek. Sonrasında bu vektörel gösterimli yapı v değişkenine tanımlandı:

In [93]:
import pandas as pd
v = pd.Series(v_metin)
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

0'a karşılık bir atama olmadığı için gerekli verilerin gösterimi "v[1:len(v)]" şeklinde tanımlanıp metin_vektor'e aktarıldı. Bu 1:len(v) yapısı 1.indisten v uzunluğuna kadar olan kısmı kapsar. Yalnızca 0.indis dışındaki verileri belirtir:

In [94]:
metin_vektor = v[1:len(v)]
metin_vektor

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

Rahat görünüm için yapı DataFrame'e çevrilecek. Bunun için metin_df şeklinde tanımlama yapıldı. Parametre olarak vektörel yapıdaki metin ve columns ismi olarak "Romanlar" verildi:

**Pandas Dataframe’ler:** pandasın çok boyutlu veri yapılarıdır. Bunu en kolay benzetebileceğimiz yapı sql veya excel tabloları gibi görebiliriz. Bunlar gibi satır ve sütunlardan oluşurlar. Dataframe yapıları veri analizi işlemlerinde oldukça faydalı olmaktadırlar.

In [95]:
metin_df = pd.DataFrame(metin_vektor,columns = ["Romanlar"])
metin_df

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches



---

##**BÜYÜK-küçük Harf Dönüşümü (Case Conversion)**

Herhangi bir durumda orijinal veriye dönmek veya bir önceki adıma dönmek için çeşitli değişkenlerle step step bir checkpoint oluşturmak faydalı olacaktır. Bu nedenle güncel metnin kopyası "metin_df.copy()" metoduyla alınıp metin_df1'e tanımlandı:

In [96]:
metin_df1 = metin_df.copy()
metin_df1

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

Öncelikle metin_df1'fde Romanlar sütununu seçiliyor. Bu sütunda işlem yapılacak.

In [97]:
metin_df1 = metin_df1["Romanlar"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [98]:
metin_df1

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Romanlar, dtype: object

---

##**Noktalama İşaretleri Silinmesi (Deleting Punctuation Marks)**

In [99]:
metin_df1

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Romanlar, dtype: object

In [100]:
type(metin_df1)

pandas.core.series.Series

In [101]:
metin_df1 = metin_df1.str.replace("[^\w\s]","")
metin_df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Romanlar, dtype: object

`str.replace("[^\w\s]","")` yapısıyla noktalama işaretlerinden kurtulundu.

---

##**Sayıların Silinmesi (Deletion of Numbers)**

In [102]:
metin_df1

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Romanlar, dtype: object

`str.replace("\d","")` yapsıyla 01, 33 ve 4 gibi bitişik yada ayrık yazılan sayılardan kurtulundu:

In [103]:
metin_df1 =metin_df1.str.replace("\d","")
metin_df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Romanlar, dtype: object

---

##**Stopwords Kaldırılması**: Durma/Duraklatma Kelimeleri ("The" gibi, her dilde farklıdır.)

In [104]:
#gerekli kütüphane
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)

In [105]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [106]:
from nltk.corpus import stopwords

**nltk Program ve Kütüphane Paketi,** indirildi ve import edildi. Sonrasında "stopwords" paketin içersinden çıkarıldı. "English" yani İngilizce diline ait olan stopwords'lerin yazdırılarak görülmesi:

In [107]:
sw = stopwords.words("english")
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [108]:
metin_df1 = metin_df1.apply(lambda x: " ".join(x for x in x.split() if x not in sw))

`join(x for x in x.split() if x not in sw))` yapısıyla sw olarak tanımlanılan stopwords'te olmayan veriler metine tekrar aktarılarak stopwords'süz metin güncellemesi yapıldı:

In [109]:
metin_df1

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Romanlar, dtype: object

---

##**Az Kullanılan Kelimeleri Silmek (Deleting the Rarely Used Words**

Rahat görünüm için yapı DataFrame'e çevrilecek. Bunun için metin_df şeklinde tanımlama yapıldı. Parametre olarak vektörel yapıdaki metin ve columns ismi olarak "Romanlar" verildi:

Pandas Dataframe’ler: pandasın çok boyutlu veri yapılarıdır. Bunu en kolay benzetebileceğimiz yapı sql veya excel tabloları gibi görebiliriz. Bunlar gibi satır ve sütunlardan oluşurlar. Dataframe yapıları veri analizi işlemlerinde oldukça faydalı olmaktadırlar.

In [110]:
metin_df1 = pd.DataFrame(metin_df1, columns = ["Romanlar"])

Kelimelerin sıklıklarının bastırılması:

In [111]:
pd.Series(" ".join(metin_df1["Romanlar"]).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

Bu sıklıklara göre en az olan 3 kelimenin seçilmesi ve `silinecek`e aktarılması:

In [112]:
silinecek = pd.Series(" ".join(metin_df1["Romanlar"]).split()).value_counts()[-3:]
silinecek

league       1
redheaded    1
beeches      1
dtype: int64

`silinecek`'te olmayanları aktararak silme işleminin yapılması:

In [113]:
#silelim
metin_df1 = metin_df1["Romanlar"].apply(lambda x: " ".join(x for x in x.split() if x not in silinecek))
metin_df1

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: Romanlar, dtype: object

---

##**Tokenization** : Bütün bir yazıyı oluşturan her bir sözcüğü ayırma işlemidir.

In [114]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [115]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.1.0)

In [116]:
import textblob 
from textblob import TextBlob

In [117]:
metin_df1 = pd.DataFrame(metin_df1, columns = ["Romanlar"])
metin_df1

                     Romanlar
1             scandal bohemia
2
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12           adventure copper

In [118]:
TextBlob(metin_df1["Romanlar"][1]).words

WordList(['scandal', 'bohemia'])

Görüldüğü gibi ilk cümlenin kelimelerini liste şeklinde dönüyor.

In [119]:
metin_df1["Romanlar"].apply(lambda x: TextBlob(x).words)

1                [scandal, bohemia]
2                                []
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12              [adventure, copper]
Name: Romanlar, dtype: object

---

##**Normalization** : Datayı temizleme işlemidir. Örneğin ingilizcede “having”, “have” fiilinin -ing eki almış halidir ve aynı sözcüktürler. Bu kökünü bularak normalization işlemine **Stemming** denir.

In [120]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [121]:
metin_df1

                     Romanlar
1             scandal bohemia
2
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12           adventure copper

In [122]:
metin_df1["Romanlar"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12           adventur copper
Name: Romanlar, dtype: object

Görüldüğü gibi bazı ekler gitti. Kelime kökleri bularak Normalization-Stemming işlemi yapıldı.
Fakat bu yöntem fazla sağlıklı değil. ("adventur" kelimesinin yanlış stemming edilmesi gibi.) Ek olmayan bazı harfleri de götürebiliyor. Bunun daha detaylı araştırması yapılmalı.

---

##**Lemmatization** : Kökü verb (fiil), adverb (zarf), noun (isim), adjective (sıfat) seçerek , sözcüğün köküne inme yöntemidir. Daha detaylı çalışır.

In [123]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

**BEFORE:**

In [124]:
metin_df1

                     Romanlar
1             scandal bohemia
2
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12           adventure copper

**AFTER:**

In [125]:
metin_df1 = metin_df1.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
metin_df1

AttributeError: ignored

Bakıldığı zaman kelimeler daha çok korunmuş oldu.





---

##**Sonuç**
Metnin ilk halinin ve işlenmiş son halini görülmesi:

**BEFORE:**

In [126]:
metin_df

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

**AFTER:**

In [127]:
metin_df1

                     Romanlar
1             scandal bohemia
2
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12           adventure copper